# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Packaging
build/
dist/
*.egg-info/

# Logs & temp
/logs
*.log
*.tmp
*.swp
*.swo
